/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Saira:wght@300;400;500&display=swap');

/* General CSS */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px
} 

body {
    background: radial-gradient(#525252, #131313);
    height: 100vh;
}

section {
    width: 60%;
    padding: 0 20%;
    align-items: center 
}

/* Header / Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0 20%;
    padding-top: 30px;
    text-transform: uppercase;
    color: #fefefe 
}

nav ul {
    display: flex;
    list-style: none
}

nav ul li {
    padding-left: 2rem
}

nav ul li a {
    text-decoration: none;
    color: #fefefe;
    font-family: Saira;
    cursor: pointer
}

.listitem::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background-color: #52A96F;
    transition: width .4s
}

.listitem:hover::after {
    width: 100%;
    transition: .4s;
}

.preorder a {
    border: 2px solid#52A96F;
    padding: 5px
}

.preorder a:hover {
    background: #52A96F;
    transition: .2s ease-in-out
}

.logo {
    font-family: Krona One, sans-serif;
    width: 85px;
    padding: 0px 10px;
    border-radius: 50%;
    background: #52A96F
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.xbox-image {
    height: 700px
}


