/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Saira:wght@300;400;500&display=swap');

/* General CSS */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px
} 

body {
    background: radial-gradient(#525252, #131313);
    
    height: 10000px;
}

/* General CSS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0 20%;
    text-transform: uppercase 
}

nav ul {
    display: flex;
    list-style: none
}

nav ul li {
    padding-left: 2rem
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: Saira
}

.logo {
    font-family: Krona One, sans-serif
}

