/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Saira:wght@300;400;500&display=swap');

/* General CSS */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
} 

section {
    width: 60%;
    padding: 0 20%;
    align-items: center 
}

/* Header / Nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0 20%;
    padding-top: 30px;
    text-transform: uppercase;
    color: #fefefe;
    position: fixed; 
}

nav ul {
    display: flex;
    list-style: none
}

nav ul li {
    padding-left: 2rem
}

nav ul li a {
    text-decoration: none;
    color: #fefefe;
    font-family: Saira;
    cursor: pointer
}

.listitem::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background-color: #52A96F;
    transition: width .4s
}

.listitem:hover::after {
    width: 100%;
    transition: .4s;
}

.preorder a {
    border: 2px solid#52A96F;
    padding: 5px
}

.preorder a:hover {
    background: #52A96F;
    transition: .2s ease-in-out
}

.logo {
    font-family: Krona One, sans-serif;
    width: 85px;
    padding: 0px 10px;
    border-radius: 50%;
    background: #52A96F
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background: radial-gradient(#525252, #131313);
    height: 100vh; 
}

.xbox-image {
    height: 700px
}

.hero-circle {
    width: 300px; 
    height: 300px;   
    padding: 10px 10px; 
    transform: translateX(40%); 
    border-radius: 50%;
    background: #52A96F;
}

.hero-text {
    text-align: center;
    text-transform: uppercase;
    color: #fefefe;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    font-family: Saira, sans-serif;
}

.hero-text h2 {
    font-family: Krona One, sans-serif;
    font-size: 5em;
    margin: 0
}

.hero-text h3 {
    font-size: 3em;
    margin: 0
}

.hero-text h4:nth-child(1){
    opacity: 0.5;
    letter-spacing: 2px;
    font-size: 1em;
    margin: 0;
    padding-top: 50px 
}

.hero-text h4:nth-child(2){
    opacity: 0.8;
    letter-spacing: 5px;
}

/* Features */
.features {
    background: #323232;
    height: 110vh;
    overflow: hidden;
}

.features-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    padding-top: 90px;
}

.card {
    width: 100%;
    background: #52A96F;
    text-align: center;
    color: #f4f4f4;
    border-radius: 10px
}

.card img {
    width: 140px;
    height: 140px;
}

.card h2 {
    font-family: Saira, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1.2em;
    letter-spacing: 1px
}

/* Form */
.form {   
    text-align: center;
    padding-top: 10px;
}

.form h2 {
    font-family: Saira, sans-serif;
    text-transform: uppercase;
    border-top: 1px solid #52A96F;
    text-decoration: underline;
    font-size: 2em;
    letter-spacing: 2px;
    color: #f3f3f3;
    padding-top: 60px
}

form input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #52A96F;
    color: #f3f3f3;
    font-size: 1.25em;
    margin-bottom: 1.2em;
    height: 45px;
    font-family: Saira, sans-serif;
}

form .submit {
    background: #52A96F;
    border-color:transparent;
    font-size: 1.4em;
    border-radius: 5px;
    padding: 0 2em;
    text-transform: uppercase 
}

form .submit:hover {
    opacity: 0.5;
    cursor: pointer;
} 

/* Footer */
.wave {
    width: 100%;
    transform: translateY(-40%) 
}

footer {
    background: #52A96F;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 2em
}

footer span {
    padding: 0;
    margin: 0;
    color: #f3f3f3;
    text-transform: uppercase;
    font-family: Saira, sans-serif
}